.home-container {
  position: absolute;
  width: 1440px;
  height: 3037px;
  left: 0px;
  top: 0px;

  background: #161625;
}
.search-container {
  position: absolute;
  width: 824px;
  height: 72px;
  left: 308px;
  top: 200px;

  /* Shadow 2 */
  background: #1e1e30;
}
.search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 25px;
  top: 24px;
  color: #94a3b8;
}
.search-input {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.search {
  position: absolute;
  height: 24px;
  left: 7.77%;
  right: 79.49%;
  top: calc(50% - 24px / 2);
  width: 80%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  border-radius: none;
  border-color: none;
  /* Light / blue-gray / 400 */
  border-style: hidden;
  color: #94a3b8;
  background: #1e1e30;
  border-style: none;
  border-width: 0px;
}

.list-container {
  position: absolute;
  width: 824px;
  height: 256px;
  left: 0px;
  top: 55px;
  list-style-type: none;
  background: #161625;
}

.confirmed {
  position: absolute;
  width: 75px;
  height: 24px;
  left: 248px;
  top: 328px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ff073a;
}
.confirmed-img {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 267px;
  top: 376px;
}
.active {
  position: absolute;
  width: 45px;
  height: 24px;
  left: 557px;
  top: 328px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #007bff;
}

.active-img {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 561px;
  top: 376px;
}

.recovered {
  position: absolute;
  width: 76px;
  height: 24px;
  left: 836px;
  top: 328px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #28a745;
}

.recovered-img {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 855px;
  top: 376px;
}
.deceased {
  position: absolute;
  width: 71px;
  height: 24px;
  left: 1133px;
  top: 328px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #6c757d;
}

.deceased-img {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 1149px;
  top: 376px;
}
.states-container {
  position: absolute;
  width: 1146px;
  height: 2080px;
  left: 150px;
  top: 576px;

  background: #1e1e30;
  /* Light / blue-gray / 600 */

  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}

.states-ut {
  position: absolute;
  width: 73px;
  height: 24px;
  left: 11px;
  top: 13px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}

.asc-img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 100px;
  top: 33px;
}
.desc-img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 130px;
  top: 33px;
}
.total-conformed {
  position: absolute;
  width: 76px;
  height: 24px;
  left: 272px;
  top: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}

.total-recovered {
  position: absolute;
  width: 77px;
  height: 24px;
  left: 644px;
  top: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}

.total-active {
  position: absolute;
  width: 46px;
  height: 24px;
  left: 474px;
  top: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}

.total-deceased {
  position: absolute;
  width: 71px;
  height: 24px;
  left: 828px;
  top: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}

.total-population {
  position: absolute;
  width: 78px;
  height: 24px;
  left: 986px;
  top: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}
.line {
  position: absolute;
  width: 1146px;
  height: 0px;
  left: 0px;
  top: 70px;

  /* Light / blue-gray / 600 */

  border: 1px solid #475569;
}

