.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  position: absolute;
  width: 156px;
  height: 32px;
  left: 642px;
  top: 1260px;

  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}

.india-text {
  color: #007bff;
}

.footer-paragraph {
  position: absolute;
  width: 348px;
  height: 24px;
  left: 546px;
  top: 1316px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 400 */

  color: #94a3b8;
}

.icon-container {
  display: flex;
}

.vector {
  position: absolute;
  left: 40.76%;
  right: 56.32%;
  top: 90.2%;
  bottom: 6.77%;

  /* Light / blue-gray / 300 */

  border: 0px solid #cbd5e1;
  box-sizing: border-box;
}
.instagram {
  position: absolute;
  height: 61px;
  left: 48.12%;
  right: 48.61%;
  top: calc(50% - 61px / 2 + 634px);

  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 52.9233px;
  line-height: 61px;
  /* identical to box height */

  text-align: center;

  /* Light / blue-gray / 300 */

  color: #cbd5e1;
}
.twitter {
  position: absolute;
  height: 61px;
  left: 55.12%;
  right: 30.61%;
  top: calc(50% - 61px / 2 + 634px);

  /* Light / blue-gray / 300 */

  border: 0px solid #cbd5e1;
  box-sizing: border-box;
}
